<div class="container-fluid">
  <nav class="fixed-top p-4 navbar-nem">
    <figure>
      <a href="#section1">
      <img id="#home" src="https://static.wixstatic.com/media/ca3cf2_bef8ac801c49401b9e6664db30a5f463~mv2.png/v1/fill/w_132,h_130,al_c,q_85,usm_0.66_1.00_0.01/ca3cf2_bef8ac801c49401b9e6664db30a5f463~mv2.webp" >
    </a>
  </figure>
  <div class="row">
    <div class="col-md-2">
      <nav class="titles main-menu">
        <a href="/zin">
          <span class="menu-item">zin</span>
        </a>
        <a href="/curta">
          <span class="menu-item">curta</span>
        </a>
        <a href="/seletivo">
          <span class="menu-item">seletivo</span>
        </a>
        <a href="/soline">
          <span class="menu-item">soline</span>
        </a>
        <a href="/pele-do-brasil">
          <span class="menu-item">pele do brasil</span>
        </a>
        <a href="/forma-e-sabor">
          <span class="menu-item">forma e sabor</span>
        </a>
        <a href="/todos">
          <span class="menu-item">todos&nbsp; projetos</span>
        </a>         
      </nav>
    </div>
  </div>
  </nav>
</div>
